
RewriteEngine on
RewriteBase /

RewriteRule ^/?about-us$ index-1.php
RewriteRule ^/?photos$ index-2.php
RewriteRule ^/?our-services$ index-3.php
RewriteRule ^/?contact$ index-4.php
RewriteRule ^/?terms-conditions$ index-5.php